<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Todo</title>
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/bootstrap.min.js}"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <table class="table table-bordered" >
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>HP</th>
                        <th>STAMINA</th>
                        <th>ATK</th>
                        <th>DEF</th>
                        <th>AGI</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${list}">
                        <td th:text="${user.getId()}"></td>
                        <td th:text="${user.getHp()}"></td>
                        <td th:text="${user.getStamina()}"></td>
                        <td th:text="${user.getAtk()}"></td>
                        <td th:text="${user.getDef()}"></td>
                        <td th:text="${user.getAgi()}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


    <a class="btn btn-danger">Hello</a>
</body>
</html>